#### import pandas as pd

In [153]:
import pandas as pd

In [105]:
df = pd.read_csv("cricket_test_match_data.csv")

In [106]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2024,13*,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.00,15,19,6,258+,2
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419+,27
10,,1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
12,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51
13,SPD Smith (AUS),2010-2024,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
15,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.00,15,14,1,107+,11
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358+,7
18,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97
19,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37+,2
20,KS Williamson (NZ),2010-2024,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24
21,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65+,1
22,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6
23,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
24,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16
25,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115+,6
26,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058+,69
27,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88
28,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48
29,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21
30,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51
31,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70
32,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73
33,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102+,3
34,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20
35,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39
36,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36
37,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908+,26
38,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20
39,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82
40,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64
41,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28
42,DJ Mitchell (NZ),2019-2024,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29
43,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952+,84
44,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342+,3
45,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61
46,JE Root (ENG),2012-2024,141*,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44
47,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48
48,M Labuschagne (AUS),2018-2024,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12
49,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240+,11
50,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38+,0
51,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91
52,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
54,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39
55,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123+,20
56,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41+,1
57,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,-,0.00,5,6,3,51+,0
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

#### Rename multiple columns in a list

In [108]:
df = df.rename(columns = {'Mat':'Matches', 'NO':'Not_Outs', 'HS':'Highest_Inns_Scorce', 'BF':'Balls_Faced', 'SR':'Battling_Strike_Rate'})

In [109]:
df.head()

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2024,13*,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

#### Check Null Values

In [111]:
df.isnull().any()

Player                  False
Span                    False
Matches                 False
Inns                    False
Not_Outs                False
Runs                    False
Highest_Inns_Scorce     False
Ave                     False
Balls_Faced              True
Battling_Strike_Rate    False
100                     False
50                      False
0                       False
4s                      False
6s                      False
dtype: bool

In [112]:
df[df['Balls_Faced'].isna() == True]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258+,2
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107+,11

In [113]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [114]:
df[df['Player'] == 'ED Weekes (WI)']
df[df['Player'] == 'CL Walcott (WI)']

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.0,15,14,1,107+,11

#### Drop Duplicates

In [115]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57     True
58    False
59    False
60    False
61    False
62    False
63    False
64    False
65    False
dtype: bool

In [116]:
df[df['Player'].duplicated() == True]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s
15,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
23,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
57,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [117]:
df[df['Player'].isin(['GS Sobers (WI)', 'JB Hobbs (ENG)', 'V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
15,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
23,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
57,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [118]:
df = df.drop_duplicates()

In [119]:
df[df['Player'].isin(['GS Sobers (WI)', 'JB Hobbs (ENG)', 'V Kohli (IND)'])]

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

#### Split up the Span into Start and End Date

In [121]:
# df['Span']
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2022, 2024]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
5     [1924, 1935]
6     [1931, 1939]
7     [1955, 1968]
8     [1948, 1958]
9     [1927, 1947]
10    [1930, 1954]
11    [1954, 1974]
12    [2000, 2015]
13    [2010, 2024]
14    [1908, 1930]
16    [1948, 1960]
17    [1937, 1955]
18    [1995, 2013]
19    [1921, 1929]
20    [2010, 2024]
21    [1968, 1973]
22    [1993, 1995]
24    [1970, 1984]
25    [1935, 1951]
26    [1989, 2013]
27    [1990, 2006]
28    [1976, 1993]
29    [1996, 2012]
30    [1998, 2010]
31    [2000, 2017]
32    [1995, 2012]
33    [1920, 1929]
34    [1992, 2002]
35    [2005, 2013]
36    [1994, 2015]
37    [1971, 1987]
38    [1985, 2004]
39    [1994, 2009]
40    [2004, 2018]
41    [1978, 1994]
42    [2019, 2024]
43    [1974, 1991]
44    [1937, 1957]
45    [1997, 2014]
46    [2012, 2024]
47    [1992, 2007]
48    [2018, 2024]
49    [1948, 1963]
50    [1911, 1928]
51    [2001, 2013]
52    [2019, 2021]
53    [2011, 2024]
54    [2004, 2015]
55    [1961, 1966]
56    [1929, 1949]
58    [1893, 1905]
59    [2001, 2013]
60    [1948, 1963]
61    [1965, 1981]
62    [2002, 2014]
63    [1924, 1934]
64    [1930, 1938]
65    [1928, 1934]
Name: Span, dtype: object

In [122]:
df['Span'].str.split(pat = '-').str[1]

0     1948
1     2024
2     2016
3     1970
4     1954
5     1935
6     1939
7     1968
8     1958
9     1947
10    1954
11    1974
12    2015
13    2024
14    1930
16    1960
17    1955
18    2013
19    1929
20    2024
21    1973
22    1995
24    1984
25    1951
26    2013
27    2006
28    1993
29    2012
30    2010
31    2017
32    2012
33    1929
34    2002
35    2013
36    2015
37    1987
38    2004
39    2009
40    2018
41    1994
42    2024
43    1991
44    1957
45    2014
46    2024
47    2007
48    2024
49    1963
50    1928
51    2013
52    2021
53    2024
54    2015
55    1966
56    1949
58    1905
59    2013
60    1963
61    1981
62    2014
63    1934
64    1938
65    1934
Name: Span, dtype: object

In [123]:
df['Rookie_Year'] = df['Span'].str.split(pat = '-').str[0]

In [124]:
df['Final_Year'] = df['Span'].str.split(pat = '-').str[1]

In [125]:
df

,Player,Span,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),2022-2024,13*,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2024
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125+,4,1931,1939
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591+,27,1955,1968
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419+,27,1927,1947
10,,1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+,1954,1974
12,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015
13,SPD Smith (AUS),2010-2024,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8,1908,1930
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960
17,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358+,7,1937,1955
18,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013
19,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37+,2,1921,1929
20,KS Williamson (NZ),2010-2024,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024
21,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65+,1,1968,1973
22,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995
24,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079+,51.53,24,31,12,755,16,1970,1984
25,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108+,63.88,9,14,3,115+,6,1935,1951
26,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437+,54.04,51,68,14,2058+,69,1989,2013
27,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753,60.51,34,48,17,1559,88,1990,2006
28,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,52.57,15164+,45.99,23,43,6,788+,48,1976,1993
29,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012
30,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010
31,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017
32,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012
33,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035+,44.86,3,9,1,102+,3,1920,1929
34,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636,45.07,12,27,5,543,20,1992,2002
35,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013
36,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395,43.31,30,66,15,1285,36,1994,2015
37,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184+,43.35,34,45,12,908+,26,1971,1987
38,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004
39,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009
40,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077,54.51,22,46,8,1024,64,2004,2018
41,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002+,41.09,27,63,11,1161,28,1978,1994
42,DJ Mitchell (NZ),2019-2024,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024
43,IVA Richards (WI),1974-1991,121,182,12,8540,291,50.23,9613+,69.77,24,45,10,952+,84,1974,1991
44,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731+,38.81,17,28,10,342+,3,1937,1957
45,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014
46,JE Root (ENG),2012-2024,141*,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024
47,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007
48,M Labuschagne (AUS),2018-2024,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024
49,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488+,40.16,9,22,11,240+,11,1948,1963
50,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619+,30.04,4,3,3,38+,0,1911,1928
51,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013
52,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445,48.26,4,3,2,148,5,2019,2021
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26,2011,2024
54,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456,55.92,28,27,9,978,39,2004,2015
55,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885+,37.74,3,9,2,123+,20,1961,1966
56,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158+,29.11,8,21,3,41+,1,1929,1949
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,-,0.00,5,6,3,51+,0,1893,1905
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1,1948,1963
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

#### Drop Columns

In [126]:
df = df.drop(['Span'], axis = 1)

In [127]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),13*,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2024
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954

#### Question:  Split up the Country from the Player

In [128]:
df['Country'] = df['Player'].str.split(pat = '(').str[1].str.split(pat = ')').str[0]

In [129]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]

In [130]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,HC Brook,13*,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2024,ENG
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI

#### Change DataTypes

In [131]:
df.dtypes

Player                   object
Matches                  object
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce      object
Ave                     float64
Balls_Faced              object
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                       object
6s                       object
Rookie_Year              object
Final_Year               object
Country                  object
dtype: object

In [132]:
# Removing the '*' from the Highest_Inns_Scorce to make it an int32
df['Highest_Inns_Scorce'] = df['Highest_Inns_Scorce'].str.split(pat = '*').str[0]

In [133]:
df['Highest_Inns_Scorce']

0     334
1     186
2     269
3     274
4     270
5     194
6     243
7     256
8     207
9     336
10    270
11    365
12    319
13    239
14    211
16    220
17    364
18    224
19    122
20    251
21    183
22    227
24    247
25    231
26    248
27    400
28    280
29    270
30    223
31    313
32    257
33    201
34    232
35    195
36    203
37    236
38    200
39    380
40    278
41    205
42    190
43    291
44    278
45    374
46    254
47    329
48    215
49    261
50    182
51    319
52    215
53    254
54    329
55    144
56    189
58    144
59    231
60    205
61    250
62    277
63    266
64    232
65    127
Name: Highest_Inns_Scorce, dtype: object

In [134]:
df['Highest_Inns_Scorce'] = df['Highest_Inns_Scorce'].astype('int')

In [135]:
df.dtypes

Player                   object
Matches                  object
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce       int32
Ave                     float64
Balls_Faced              object
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                       object
6s                       object
Rookie_Year              object
Final_Year               object
Country                  object
dtype: object

#### Question: Fix Rookie Year & Final Year

In [136]:
# df['Rookie_Year'] = df['Rookie_Year'].astype('int')
# df['Final_Year'] = df['Final_Year'].astype('int')

df = df.astype({
    'Rookie_Year': 'int',
    'Final_Year': 'int'
})

In [137]:
df.dtypes

Player                   object
Matches                  object
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce       int32
Ave                     float64
Balls_Faced              object
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                       object
6s                       object
Rookie_Year               int32
Final_Year                int32
Country                  object
dtype: object

In [138]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,HC Brook,13*,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2024,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI

In [139]:
df['Matches'] = df['Matches'].str.split(pat = '*').str[0].astype('int')

In [140]:
df.dtypes

Player                   object
Matches                   int32
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce       int32
Ave                     float64
Balls_Faced              object
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                       object
6s                       object
Rookie_Year               int32
Final_Year                int32
Country                  object
dtype: object

In [141]:
df['4s'] = df['4s'].str.split(pat='+').str[0].astype('int')
df['6s'] = df['6s'].str.split(pat='+').str[0].astype('int')

In [142]:
df.dtypes

Player                   object
Matches                   int32
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce       int32
Ave                     float64
Balls_Faced              object
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                        int32
6s                        int32
Rookie_Year               int32
Final_Year                int32
Country                  object
dtype: object

In [143]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat='+').str[0]

In [144]:
df.isnull().any()

Player                  False
Matches                 False
Inns                    False
Not_Outs                False
Runs                    False
Highest_Inns_Scorce     False
Ave                     False
Balls_Faced              True
Battling_Strike_Rate    False
100                     False
50                      False
0                       False
4s                      False
6s                      False
Rookie_Year             False
Final_Year              False
Country                  True
dtype: bool

In [145]:
df[df['Balls_Faced'].isna() == True]

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
8,ED Weekes,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258,2,1948,1958,WI
16,CL Walcott,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107,11,1948,1960,WI

In [146]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [147]:
df[df['Balls_Faced'].isna() == True]

Empty DataFrame
Columns: [Player, Matches, Inns, Not_Outs, Runs, Highest_Inns_Scorce, Ave, Balls_Faced, Battling_Strike_Rate, 100, 50, 0, 4s, 6s, Rookie_Year, Final_Year, Country]
Index: []

In [148]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat='-').str[0].astype('int')

ValueError: cannot convert float NaN to integer

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df.dtypes

Player                   object
Matches                   int32
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce       int32
Ave                     float64
Balls_Faced              object
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                        int32
6s                        int32
Rookie_Year               int32
Final_Year                int32
Country                  object
dtype: object

#### Remove "Hon.FS Jackson" Row

In [ ]:
df = df.drop(58, axis = 0)

In [ ]:
df.isnull().any()

Player                  False
Matches                 False
Inns                    False
Not_Outs                False
Runs                    False
Highest_Inns_Scorce     False
Ave                     False
Balls_Faced             False
Battling_Strike_Rate    False
100                     False
50                      False
0                       False
4s                      False
6s                      False
Rookie_Year             False
Final_Year              False
Country                  True
dtype: bool

In [ ]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,13,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2024,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG
11,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
13,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG
16,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI
17,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG
18,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
19,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG
20,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ
21,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
24,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
25,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA
26,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND
27,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
28,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK
29,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
30,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
31,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
32,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
33,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS
34,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
35,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
36,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
41,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
42,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
46,JE Root,141,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,ENG
47,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
48,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS
49,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI
50,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG
51,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
52,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
53,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA
59,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
60,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS
61,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
62,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
63,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
64,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
65,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [ ]:
df.dtypes

Player                   object
Matches                   int32
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce       int32
Ave                     float64
Balls_Faced              object
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                        int32
6s                        int32
Rookie_Year               int32
Final_Year                int32
Country                  object
dtype: object

In [ ]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')
# df['Battling_Strike_Rate'] = df['Battling_Strike_Rate'].astype('float')

In [ ]:
df.dtypes

Player                   object
Matches                   int32
Inns                      int64
Not_Outs                  int64
Runs                      int64
Highest_Inns_Scorce       int32
Ave                     float64
Balls_Faced               int32
Battling_Strike_Rate    float64
100                       int64
50                        int64
0                         int64
4s                        int32
6s                        int32
Rookie_Year               int32
Final_Year                int32
Country                  object
dtype: object

#### **Question**: Build out Career_Length Column
##### _hint: convert rookie/final year and subtract_

In [ ]:
df.head()

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,13,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2024,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI

In [ ]:
df['Career_Length'] = df['Final_Year'] - df['Rookie_Year']

In [ ]:
df

,Player,Matches,Inns,Not_Outs,Runs,Highest_Inns_Scorce,Ave,Balls_Faced,Battling_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,Career_Length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook,13,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2024,ENG,2
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG,13
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI,10
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG,20
11,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI,20
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
13,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG,22
16,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI,12
17,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG,18
18,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
19,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG,8
20,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,14
21,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI,5
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
24,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
25,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA,16
26,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND,24
27,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
28,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,17
29,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
30,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
31,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
32,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
33,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS,9
34,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
35,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
36,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
37,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND,16
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
41,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
42,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ,5
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI,17
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG,20
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
46,JE Root,141,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,ENG,12
47,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
48,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
49,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI,15
50,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG,17
51,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
52,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
53,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND,13
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA,5
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA,20
59,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
60,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS,15
61,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
62,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
63,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
64,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
65,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

### **Calculations with dataframe**

#### **Question 1**: Cricketers in this DF _(what is the Average Career Length)_

In [ ]:
df['Career_Length'].mean()

13.229508196721312

#### __Question 2__:   AVG Batting_Strike_Rate for cricketers who played over 10 years

In [ ]:
df = df.rename(columns = {'Battling_Strike_Rate':'Batting_Strike_Rate',})

In [ ]:
df[df['Career_Length'] > 10]['Batting_Strike_Rate'].mean()

49.061860465116276

#### __Question 3__:   find number of cricketers who played before 1960

In [ ]:
df[df['Rookie_Year'] < 1960]['Player'].count()

22

#### __Question 4__: Max Highest Inns Score by country

In [ ]:
df.groupby('Country')['Highest_Inns_Scorce'].max().to_frame('High_Inns_Country').reset_index().sort_values('High_Inns_Country', ascending = False)

    Country  High_Inns_Country
5    ICC/WI                400
0       AUS                380
10       SL                374
11       WI                365
1       ENG                364
3   ICC/PAK                329
2   ICC/IND                319
8       PAK                313
9        SA                278
4    ICC/SA                277
6       IND                254
7        NZ                251
12      ZIM                232

#### __Question 5__: Hundreds, Fifties, ducks (0) AVG by Country

In [ ]:
df.groupby('Country')[['100', '50', '0']].mean()

               100         50          0
Country
AUS      20.625000  28.375000   8.562500
ENG      13.000000  22.083333   4.416667
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  22.000000   6.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000